
/dts-v1/;
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <st/wl/stm32wle5Xc.dtsi>
#include <st/wl/stm32wle5ccux-pinctrl.dtsi>

/ {
	model = "LoRa Current Sensor";
	compatible = "CyberJungle,waterlevel_lora";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		led_1: led_0 {
			gpios = <&gpioa 1 GPIO_ACTIVE_LOW>;
			label = "User LED1";
		};
		bat_read_ctrl: bat_read_ctrl {
            gpios = <&gpiob 5 GPIO_ACTIVE_HIGH>;
            label = "Battery Read Control";
        };
		boost_en: boost_en {
			gpios = <&gpioa 10 GPIO_ACTIVE_HIGH>;
			label = "Boost EN";
		};
		relay_ctrl: relay_ctrl {
			gpios = <&gpioa 8 GPIO_ACTIVE_HIGH>;
			label = "Relay CTRL";
		};

	};

	gpio_keys {
		compatible = "gpio-keys";
		user_button: button_0 {
			label = "SW1";
			gpios = <&gpioa 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			zephyr,code = <INPUT_KEY_0>;
		};
	};

	aliases {
		led0 = &led_1;
		sw0 = &user_button;
		lora0 = &lora;
		watchdog0 = &iwdg;
		batread = &bat_read_ctrl;
		boost = &boost_en;
		relay = &relay_ctrl;
	};

	zephyr,user {
		/* adjust channel number according to pinmux in board.dts */
		io-channels = <&adc1 3>, <&adc1 4>;
		io-channel-names = "v_sensor", "v_bat";
	};

};

// Stop2 caused console and ADC to hang device
&cpu0 {
	cpu-power-states = <&stop0 &stop1>;
};

&lptim1 {
	status = "okay";
	clocks = <&rcc STM32_CLOCK_BUS_APB1 0x80000000>,
		<&rcc STM32_SRC_LSE LPTIM1_SEL(3)>; // LPTIM_SEL switched from 1 to 3 for LSE
};

// Added 
&clk_hse {
	clock-frequency = <DT_FREQ_M(32)>;
	hse-tcxo;
};

&clk_lse {
	status = "okay";
	clock-frequency = <32768>;
};


&clk_msi {
	status = "okay";
	msi-range = <11>;
	msi-pll-mode; // Enable MSI hardware auto calibration
};

&rcc {
	clocks = <&clk_msi>;
	clock-frequency = <DT_FREQ_M(48)>;
	cpu1-prescaler = <1>;
	ahb3-prescaler = <1>;
	apb1-prescaler = <1>;
	apb2-prescaler = <1>;
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pb6 &usart1_rx_pb7>;
	pinctrl-names = "default";
	current-speed = <115200>;
};

&usart2 {
	pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
	pinctrl-names = "default";
	current-speed = <9600>;
	/* PB4 can select RS-485 TX, when J17 (A4) is closed */
};

&i2c1 {
	pinctrl-0 = <&i2c1_scl_pa9 &i2c1_sda_pa10>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;
	/* LM75ADP temperature sensor on addr 0x48 */
};

&rtc {
	clocks = <&rcc STM32_CLOCK_BUS_APB1 0x00000400>,
		 <&rcc STM32_SRC_LSE RTC_SEL(1)>; // RTC_SEL switched from 2 to 1 for LSE
	status = "okay";
};

&iwdg {
	status = "okay";
};

&adc1 {
	pinctrl-0 = <&adc_in3_pb4>;
	pinctrl-names = "default";
	st,adc-clock-source = "SYNC";
	st,adc-prescaler = <4>;

	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	channel@3 {
		reg = <3>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <8>;
	};
	channel@4 {
		reg = <4>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <8>;
	};
};

&subghzspi {
	status = "okay";
	lora: radio@0 {
		status = "okay";
		tx-enable-gpios = <&gpioc 13 GPIO_ACTIVE_HIGH>; 
		rx-enable-gpios = <&gpiob 8 GPIO_ACTIVE_HIGH>;
		dio3-tcxo-voltage = <SX126X_DIO3_TCXO_3V0>;
		tcxo-power-startup-delay-ms = <5>; 
		power-amplifier-output = "rfo-hp";
		rfo-hp-max-power = <22>;
	};
};

&aes {
	status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* 16KB (8x2kB pages) of storage at the end of the flash */
		storage_partition: partition@3c000 {
			label = "storage";
			reg = <0x0003c000 DT_SIZE_K(16)>;
		};
	};
};

/*
 * Other Pins:
 * Not assigned:  None
 * Debug:         PA13(swdio), PA14(swclk)
 */
